<div class="container">
    <div class="row">
<div class="mainheading">
    <a class="btn btn-primary" href="/">Home</a>
    </div>
</div>
</div>
<div class="container">
	<div class="row">
		<form class="form-center needs-validation">
			<div class="form-group was-validated">
			  <input type="text" name="title" class="form-control" placeholder="Title....">
			</div>
            <div class="form-group was-validated">
                <textarea class="form-control" name="des" id="" cols="30" rows="10" placeholder="Your Post...."></textarea>
              </div>
              <div class="form-group was-validated">
                <textarea class="form-control" name="info" id="" cols="30" rows="10" placeholder="More Info...."></textarea>
              </div>
			<button type="submit" class="btn btn-primary">Submit</button>
		  </form>
	</div>
	<!-- End Login Form -->
